<% content_for :title do %>Corona's Cottage<% end %>
<% content_for :description do %>Corona's Cottage<% end %>
<br><div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol><br>
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://coronascottage.smugmug.com/photos/i-C6QG5dx/0/L/i-C6QG5dx-L.jpg">
      <div class="carousel-caption text-center">
        <h4>Cottage – External View</h4>
      </div>
    </div>
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-MVdKNpv/0/X3/i-MVdKNpv-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Family room</h4>
      </div>
    </div>
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-zzCvbS9/0/X3/i-zzCvbS9-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Kitchen</h4>
      </div>
    </div>
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-qVwPSb6/0/X3/i-qVwPSb6-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Family room and Lanai</h4>
      </div>
    </div>
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-TSNNdQV/0/X3/i-TSNNdQV-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Lanai</h4>
      </div>
    </div>
     <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-PGk7d8q/0/X3/i-PGk7d8q-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Kitchen</h4>
      </div>
    </div>
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-JvZGKg2/0/X3/i-JvZGKg2-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Back yard and patio</h4>
      </div>
    </div>    
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-FMqm4xg/0/X3/i-FMqm4xg-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Bird</h4>
      </div>
    </div>
    <div class="item">
      <img src="http://coronascottage.smugmug.com/photos/i-ZncmhGK/0/X3/i-ZncmhGK-X3.jpg">
      <div class="carousel-caption text-center">
        <h4>Family room and kitchen</h4>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></a>
</div>