<footer class="container">
  <div class="row">
    <section class="col-sm-4">
      Copyright 2014
    </section>
    <section class="col-sm-8">
      All rights reserved.
    </section>
  </div>
</footer>